<%= render 'pages/home' %>

<% if params[:tag] %>
     <%= render 'pins/selectedtag' %> 
     
				<div id="pins">
				  <%= render @pins %>
				</div>
       

<% else %>
        

				<div id="pins">
				  <%= render @pins %>
				</div>

<% end %>