<% if user_signed_in? %>




<% else %>

	<div class="hero-unit">
		<h1>Welcome to Pixelove!</h1>
		<p> Design inspiration all in one place. </p>
		<p>
			<%= link_to "Sign up now!", new_user_registration_path, class:"btn btn-primary btn-large" %>
		</p>
	</div>

<% end %>