<% if user_signed_in? %>




<% else %>

	<div class="hero-unit">
		<h1>User experience design inspiration, all in one place. Whoah, baby. </h1> 
	
		<div class="button">
			<%= link_to "Sign me up!", new_user_registration_path %> 
		</div>
	</div>
	

<% end %>