<% if user_signed_in? %>




<% else %>

 
    
		<div class="hero">
			<h1>User experience design inspiration, all in one place. Whoah, baby. </h1> 
		
			<div class="button">
				<%= link_to "SIGN ME UP!", new_user_registration_path %> 
			</div>
		</div>



<% end %>