/* $baseFontFamily: Oxygen;
@import url(http://fonts.googleapis.com/css?family=Oxygen);
*/

$navbarBackground: white;
$navbarSearch: 25%;



@import 'bootstrap';


body {
	padding-top: 100px;
}

@import 'bootstrap-responsive';

.footer {
	margin-top: 50px;
	color: $grayLight;
	a {
		color:gray;
	}
}

/* HEADER STYLES */

.logo {
	width: 125px;	
	padding-left: 11px;
}

#categories {
	border-top-style: solid;
	border-color:  #d4cd07;
	border-top-width: 4px;
	border-top-opacity: 1;
	opacity: 0.85;
	background-color: white;
	margin-left: 0px;
	height: 40px;

}

.categories {
	margin-left: auto;
	margin-right: auto;
}

.container {
}

.spacer {

	vertical-align: bottom;
	padding-top: 13px;
}


/* HERO UNIT */

.hero-unit {
	background-color: white;
	-moz-box-shadow: 0 0 5px 1px #b2b2b2;
	-webkit-box-shadow: 0 0 5px 1px #b2b2b2;
	box-shadow: 0 0 5px 1px #b2b2b2;
	height: 120px;
	padding: 20px;

}

.hero-unit h1 {
	font-family: Courier, monospace;
	font-size: 40px;
	width: 80%;
	display: inline-block;
	float: left;
	font-weight: 500;
	margin-left: 10px;
	margin-bottom: 40px;
	letter-spacing: 1px;
	line-height: 50px;
}
 
.button {
	background-color: #d4cd07;
	border: none;
	width: 140px;
	height: 35px;
	font-family: open sans;
	font-size: 24px;
	font-weight: 600;
	color: white;
	margin-right: 25px;
	margin-top: 30px;
	margin-bottom: 20px;
	position: relative;
	float:right;
	display: inline-block;
	border-radius: 3px;
	padding: 10px 25px 10px 25px;
	a { color: white;}
}

.button:hover {
	background-color: #dfd814;
	a {
		text-decoration: none;
		color:white;
	}
}


/* BOX STYLES */
.icon-tag {
	opacity: 0.7;
}

h3.title {
	font-size: 14px;
	font-family: open sans;
	padding: 0px 10px 0px 10px;
	line-height: 1em;

}

#title {
	width: 70%;
	position: relative;
	float:left;


}
.actionbuttons {
	position: relative;
	float:right;
	margin-top: 5px;
	margin-right: 10px;
	font-size: 24px;
	font-weight: 600;
	z-index: 1;
	visibility: hidden;
}

.leftarrow  {
	position: absolute;
	top: 35%;
	margin-left: -30px;
	z-index: 1;
	opacity: 0.63;
	visibility: hidden;
}


.rightarrow {
	height: 60px;
	width: 60px;
	position: absolute;
	top: 35%;
	margin-left: 470px;
	opacity: 0.63;
	visibility: hidden;
}

i.icon-heart {
	margin-top: 10px;
	
}

.box:hover .actionbuttons {
	visibility: visible;
}


.box:hover .leftarrow {
	visibility: visible;
}

.box:hover .rightarrow {
	visibility: visible;
}

#titlesection {
	width: 100%;
	height: 40px;

}

.screenshot {
	border-color:  #d4cd07;
	border-top-width: 3px;
	border-top-opacity: 1;
	border-top-style: solid;
	width: 500px;

}



.pindetails {
	width: 100%;
	min-height: 50px;
}

.usericon {
	margin: 10px;
	height: 100%;
	position: relative;
	float:right;
	display:inline-block;

}

.profilephoto {
	width: 44px;
	height: 44px;
	background-color: #999;
}

.tagarea {
	width: 75%;
	padding: 10px 0 0 10px;
	font-size: 12px;
	font-family: 'open sans';
	color: gray;
	position: relative;
	float: left;
}

a {
	color: gray;
}

a:hover {
	color: #d4cd07;
}


/* Required for Jquery Masonry */
 
.box {
	margin: 40px;
	padding: 0px;
	font-size: 11px;
	line-height: 1.4em;
	float: left;
	box-shadow: 1px 1px 10px #888;
	width: 500px;
}

.box img {
	display: block;
	width: 100%;
}


